#mk-content h1, #mk-content h2, #mk-content h3, #mk-content h4, #mk-content h5, #mk-content h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility; }

#mk-content h1 small, #mk-content h2 small, #mk-content h3 small, #mk-content h4 small, #mk-content h5 small, #mk-content h6 small {
  font-weight: 400;
  line-height: 1;
  color: #999; }

#mk-content h1, #mk-content h2, #mk-content h3 {
  margin-top: 20px;
  line-height: 40px;
  border-bottom: 1px solid #eeeeee; }

#mk-content h1 {
  font-size: 38.5px; }

#mk-content h2 {
  font-size: 31.5px; }

#mk-content h3 {
  font-size: 24.5px; }

#mk-content h4 {
  font-size: 17.5px; }

#mk-content h5 {
  font-size: 14px; }

#mk-content h6 {
  font-size: 11.9px; }

#mk-content h1 small {
  font-size: 24.5px; }

#mk-content h2 small {
  font-size: 17.5px; }

#mk-content h3 small, #mk-content h4 small {
  font-size: 14px; }

#mk-content .page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eee; }

#mk-content ol, #mk-content ul {
  padding: 0;
  /*margin: 0 0 10px 25px*/ }

#mk-content ol ol, #mk-content ol ul, #mk-content ul ol, #mk-content ul ul {
  margin-bottom: 0; }

#mk-content li {
  line-height: 20px; }

#mk-content ol.inline, #mk-content ol.unstyled, #mk-content ul.inline, #mk-content ul.unstyled {
  margin-left: 0;
  list-style: none; }

#mk-content ol.inline > li, #mk-content ul.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1; }

#mk-content dl {
  margin-bottom: 20px; }

#mk-content dd, #mk-content dt {
  line-height: 20px; }

#mk-content dt {
  font-weight: 700; }

#mk-content dd {
  margin-left: 10px; }

#mk-content .dl-horizontal {
  *zoom: 1; }

#mk-content .dl-horizontal:after, #mk-content .dl-horizontal:before {
  display: table;
  line-height: 0;
  content: ""; }

#mk-content .dl-horizontal:after {
  clear: both; }

#mk-content .dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap; }

#mk-content .dl-horizontal dd {
  margin-left: 180px; }

#mk-content hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff; }

#mk-content abbr[data-original-title], #mk-content abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999; }

#mk-content abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

#mk-content blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eee; }

#mk-content blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25; }

#mk-content blockquote small {
  display: block;
  line-height: 20px;
  color: #999; }

#mk-content blockquote small:before {
  content: '\2014 \00A0'; }

#mk-content blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0; }

#mk-content blockquote.pull-right p, #mk-content blockquote.pull-right small {
  text-align: right; }

#mk-content blockquote.pull-right small:before {
  content: ''; }

#mk-content blockquote.pull-right small:after {
  content: '\00A0 \2014'; }

#mk-content blockquote:after, #mk-content blockquote:before, #mk-content q:after, #mk-content q:before {
  content: ""; }

#mk-content address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; }

#mk-content code, #mk-content pre {
  padding: 0 3px 2px;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#mk-content code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

#mk-content pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

#mk-content pre.prettyprint {
  margin-bottom: 20px; }

#mk-content pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0; }

#mk-content .pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

#mk-content fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

#mk-content legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

#mk-content legend small {
  font-size: 15px;
  color: #999; }

#mk-content button, #mk-content input, #mk-content label, #mk-content select, #mk-content textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

#mk-content button, #mk-content input, #mk-content select, #mk-content textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

#mk-content label {
  display: block;
  margin-bottom: 5px; }

#mk-content .uneditable-input, #mk-content input[type=color], #mk-content input[type=date], #mk-content input[type=datetime-local], #mk-content input[type=datetime], #mk-content input[type=email], #mk-content input[type=month], #mk-content input[type=number], #mk-content input[type=password], #mk-content input[type=search], #mk-content input[type=tel], #mk-content input[type=text], #mk-content input[type=time], #mk-content input[type=url], #mk-content input[type=week], #mk-content select, #mk-content textarea {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

#mk-content .uneditable-input, #mk-content input, #mk-content textarea {
  width: 206px; }

#mk-content textarea {
  height: auto; }

#mk-content .uneditable-input, #mk-content input[type=color], #mk-content input[type=date], #mk-content input[type=datetime-local], #mk-content input[type=datetime], #mk-content input[type=email], #mk-content input[type=month], #mk-content input[type=number], #mk-content input[type=password], #mk-content input[type=search], #mk-content input[type=tel], #mk-content input[type=text], #mk-content input[type=time], #mk-content input[type=url], #mk-content input[type=week], #mk-content textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s; }

#mk-content .uneditable-input:focus, #mk-content input[type=color]:focus, #mk-content input[type=date]:focus, #mk-content input[type=datetime-local]:focus, #mk-content input[type=datetime]:focus, #mk-content input[type=email]:focus, #mk-content input[type=month]:focus, #mk-content input[type=number]:focus, #mk-content input[type=password]:focus, #mk-content input[type=search]:focus, #mk-content input[type=tel]:focus, #mk-content input[type=text]:focus, #mk-content input[type=time]:focus, #mk-content input[type=url]:focus, #mk-content input[type=week]:focus, #mk-content textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

#mk-content input[type=checkbox], #mk-content input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal; }

#mk-content input[type=button], #mk-content input[type=checkbox], #mk-content input[type=file], #mk-content input[type=image], #mk-content input[type=radio], #mk-content input[type=reset], #mk-content input[type=submit] {
  width: auto; }

#mk-content input[type=file], #mk-content select {
  height: 30px;
  *margin-top: 4px;
  line-height: 30px; }

#mk-content select {
  width: 220px;
  background-color: #fff;
  border: 1px solid #ccc; }

#mk-content select[multiple], #mk-content select[size] {
  height: auto; }

#mk-content input[type=checkbox]:focus, #mk-content input[type=file]:focus, #mk-content input[type=radio]:focus, #mk-content select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

#mk-content .uneditable-input, #mk-content .uneditable-textarea {
  color: #999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025); }

#mk-content .uneditable-input {
  overflow: hidden;
  white-space: nowrap; }

#mk-content .uneditable-textarea {
  width: auto;
  height: auto; }

#mk-content input:-moz-placeholder, #mk-content textarea:-moz-placeholder {
  color: #999; }

#mk-content input:-ms-input-placeholder, #mk-content textarea:-ms-input-placeholder {
  color: #999; }

#mk-content input::-webkit-input-placeholder, #mk-content textarea::-webkit-input-placeholder {
  color: #999; }
